<header class="nrw-bg-blue shadow-lg sticky top-0 z-50">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex-shrink-0">
        <a href="#" onclick="app.setView('home')" 
           class="{{ site.data.branding.text_size }} {{ site.data.branding.font_weight }} tracking-tight" 
           style="line-height: 1; color: {{ site.data.branding.color_one }};">
   
          {{ site.data.branding.name_part_one }}
            <span class="ml-0.5" style="color: {{ site.data.branding.color_two }};">
            {{ site.data.branding.name_part_two }}
          </span>
        </a>
      </div>

<nav class="hidden md:flex space-x-4">
  {% for link in site.data.navigation.menu_links %}
  <button 
    onclick="{{ link.function }}" 
    class="text-white hover:text-red-300 px-3 py-2 rounded-md text-sm font-medium transition duration-150">
    {{ link.text }}
  </button>
  {% endfor %}
</nav>

      <div class="flex items-center">
        <button id="cartButton" onclick="app.setView('cart')" class="relative p-2 rounded-full text-white nrw-text-red nrw-btn-blue hover:text-white transition duration-150 focus:outline-none">
          <svg id="shopping-cart-icon" class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
          <span id="cartCount" class="absolute top-0 right-0 inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-white transform translate-x-1/2 -translate-y-1/2 nrw-bg-red rounded-full">0</span>
       
      </div>
    </div>
  </div>
</header>
